{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the vehicles section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
	<h1>{{ entry.title }}</h1>
	<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
	


	<div class="row small-12 columns">
		<h4>Tags</h4>
		{% set tags = craft.tags.relatedTo(entry) %}
		{% for tag in tags %}
			{{ tag.name }}
		{% endfor %}
	</div>	
	
	<div class="row small-12 columns">	
		{% set assets = entry.headerImage %}
			{% for asset in assets %}
        		<img src="{{ asset.url }}" class="small-12 columns no-padding">
    	{% endfor %}
    </div>

	<hr>

	<div class="row small-12 columns">
		{{ entry.body }}
	</div>
{# using twigs conditional queries to check whether content exists, if so display the intended content in this way, if not move on and complete loading the rest of the page is essentially what is happening. #}
	{% if entry.image is not empty %}
	<div class="row small-12 colums">
		{% set first = entry.image.first() %}
		<img src="{{ first.url }}" class="small-12 columns no-padding">
		{% set assets = entry.image %}
        <img src="{{ attribute(assets, 1).url }}" class="small-6 colums left">
        <img src="{{ attribute(assets, 2).url }}" class="small-6 colums left">
	</div>
	{% endif %}

	</article>
{% endblock %}
