{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the vehicles section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

{% set category = craft.categories.slug(craft.request.getSegment(2)).first() %}	{# filtering the posts based on the category name, which i get from the url - segment 2 #}

	<div class="row small-12 columns">
		<h4>All posts related to the specified {{ category }} category </h4>
		{% set entries = craft.entries.relatedTo(category).find() %}
		{% for entry in entries %}
			<a href="{{ entry.url }}">{{ entry.title }}</a> <br>
		{% endfor %}
	</div>
{% endblock %}
