{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% set nav = {
	news: { title: "News", desc: "Recent News" },
	vehicles: { title: "Vehicle", desc: "Vehicles section of the site" },
	music: { title: "Music", desc: "Music section of the site" },
	film: {title: "Film", desc: "Film section of the site"},
	contact: {title: "Contact Us", desc: "about us" },
} %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
{% block head %}
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}/assets/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}/assets/css/app.css">
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}/assets/css/customsite.css">
</head>
{% endblock %}
<body>
	<div class="top-bar small-12">
	<a href="/" class="small-12 large-2 columns"><img src="{{ logo.imageUrl }}" style="height: 80px" ></a>
	{% set entries = craft.entries.find() %}		
		<ul id="nav" class="menu small-12 large-6 columns">
		    {% for slug, item in nav %}
				<li>
				<a href="{{ url(slug) }}" {% if craft.request.firstSegment == slug %}class="button"{% endif %}>
					<strong>{{ item.title }}</strong>
				</a>
				</li>
			{% endfor %}
		</ul>
		<div class="small-12 large-2 columns">
			<form action="{{ url('search/results') }}">
				<input type="search" name="q" placeholder="Search" class="search small-2 columns">
				<input type="submit" value="Go" class="button">
			</form>
		</div>
	</div>
	<div id="container" class="row">
		{% block pagination %}{% endblock %}
		<main id="content" role="main" >
			{% block content %}{% endblock %}
				{% if entry.author %}
					<h5>Written by {{ entry.author }}</h5>
					<a href="/"><img src="{{ admin.imageUrl }}" style="height: 80px "></a>
				{% endif %}
		</main>
	</div>
	<footer id="footer" class="footer">
				<div class="small-12 colums">
				<p class="copyright">Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a></p>
				</div>
			<script type="text/javascript" src="{{ siteUrl }}/assets/js/vendor/jquery.min.js"></script>
			<script type="text/javascript" src="{{ siteUrl }}/assets/js/vendor/what-input.min.js"></script>
			<script type="text/javascript" src="{{ siteUrl }}/assets/js/foundation.min.js"></script>
			<script type="text/javascript" src="{{ siteUrl }}/assets/js/app.js"></script>
	</footer>
</body>
</html>
